{% extends "picture/base.html" %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% load widget_tweaks %}
{% load postfilters %}
{% block main %}
<div class="col-md-9  col-md-offset-2" style="font-family:'M PLUS 1p';">
            <div class="card">
                <div class="card-header shadow"><h3 style="text-align: center;"><svg class="bi bi-chat-square-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v8a1 1 0 001 1h2.5a2 2 0 011.6.8L8 14.333 9.9 11.8a2 2 0 011.6-.8H14a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v8a2 2 0 002 2h2.5a1 1 0 01.8.4l1.9 2.533a1 1 0 001.6 0l1.9-2.533a1 1 0 01.8-.4H14a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                <path d="M5 6a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z"/>
                </svg>{{topic.title}}</h3></div>
                <p class="card-body" style="text-align: center; font-size: normal;">{{topic.text| comment_filter | safe}}({{topic.upload_date}}){% for tag in post_tags %}<a href="{% url 'picture:tag' tag.tag.name %}">#{{tag.tag.name}}</a>{% endfor %}</p>
            </div>
        <!--コメント表示-->
            <div class="card shadow">
            {% if comment_list %}
            {% for comment in comment_list %}
            <li class="list-group-item shadow">
                <p style="font-size: large;">{{comment.no}}. {{comment.user_name}}({{comment.created}})<br>{{comment.message | comment_filter | safe}}</p>
            </li>
            {% endfor %}
            {% else %}
            <div class="card-body"><p style="font-size: large; text-align: center;">まだコメントはありません</p></div>
            {% endif %}
        </div>
        <!--//コメント表示-->
        <!--コメント投稿-->
                <form class="form" action="" method="POST">
                <div class="card">
                <div class="card-header shadow">
                <h4><svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 1 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                </svg> コメント投稿</h4>
                </div>
                </div>
                <div class="card shadow border rounded">
                {% csrf_token %}
                <div class="form-group shadow card-header">
                <div class="">{{form.user_name.label_tag}}{{form.user_name|add_class:"form-control"}}</div>
                </div>
                <div class="form-group border-top shadow card-header">
                <div class="">{{form.message.label_tag}}{{form.message|add_class:"form-control"}}</div>
                </div>
                </div>
                <button class="btn btn-success shadow" type="submit">コメント投稿</button>
                </form>
        <!--//コメント投稿-->
    </div>

</div>
</div>
{% endblock %}